p {
    color:black;
    background-color:black;
    font-size:12px;
}
p {
    color:black;
    font-size:12px;
}
body {
    color:#ECECEC;
}
.firstdiv {
    margin-top:30px;
    text-align:center;
}
.seconddiv {
    margin:0px;
}

.thirddiv {
    margin:20px;
}
.fourthdiv {
    margin:0px;
    background-color: white;
}
.hover1 {
    color:white;
}
.hover {
    background-color:rgba(211, 211, 211,.6);
    color:white;
    border-radius:5px;
}
.fifthdiv {
    display:none;
}
.sixthdiv {
    display:none;
}

@media only screen and (max-width: 1500px) {
    h3 {
        font-size:20px;
    }
    p {
        font-size: 10px;
    }
    .seconddiv {
        display: none;
    }
    .fifthdiv {
        display:inline;
    }
}